.buttons {
  position: absolute;
  top: 50px;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons li {
  display: inline;
  margin-right: 10px;
}

.buttons li > a {
  background-color: #4caf50; /* Green */
  border: 2px solid #000000;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons li > a:hover {
  transform: scale(1.1);
}
